---
---

@import "{{ site.theme }}";

$not-yellow: #33ccff;

blockquote {
    border-left: 1px solid $not-yellow;
}

td {
    border-right:1px solid $not-yellow;
}

td:first-child {
    border-left:1px solid $not-yellow;
}

#banner {
    background: $not-yellow;
    border: 1px solid #00ffff;
}

#banner .button {
    background: #4175b5;
    border: 1px solid #00ffff;
}

#banner .button:hover {
    background: $not-yellow;
}
