name: BSSw.io Codespell

on:
  pull_request:
    branches: [ main ]

jobs:
  codespell-source:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Print GitHub Actions Environment Variables
        run: |
          set | grep "^GITHUB_"

      - name: Update OS
        run: |
          sudo apt-get update -y
      - name: Install packages
        run: |
          sudo apt-get install python3-pip
          pip install codespell==2.4.1
      - name: Run Codespell on source code
        run: |
          codespell
